#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
  margin-left:-200px;
}

/*sidebar style*/
div.container.menuPosition{
  margin-left: 0;
}
.container {
  width: 100%;}

  body{
    background-color: black;
  }

  /*phone list style*/
  .panel-default {
    border-color:#e20404;
  }
  .panel {
    margin-bottom: 20px;
    background-color: #fcf8e3;
    border: 3px solid red ;
    border-radius: 4px;
  }

  div.panel.panel-default.ng-scope{
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 25px;
    margin-top: 30px;
  }
  h3.ng-binding{
    margin-top: 0;
  }

 img.phones{
   width: 150px;
 }
 img.img-responsive.phones{
   margin-left: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 0px;


 }
 div.col-xs-12.col-sm-10.col-md-10.col-lg-10.details{
   padding-left: 10px;
   margin-bottom: 100px;
 }
