<div class="row">
  <uib-tabset>
    <uib-tab index="0" heading="Avaliability and Networks">Avaliability<p ng-repeat="phones in phone"><p ng-repeat="avaliability in phones"></p></p></uib-tab>
    <uib-tab index="1" heading="Battery">Battery<p ng-repeat="phone in phone"><p ng-repeat="x in phone">{{x.standbyTime}}</p><p ng-repeat="x in phone">{{x.talkTime}}</p><p ng-repeat="x in phone">{{x.type}}</p></p></uib-tab>
    <uib-tab index="2" heading="Storage and Memory">Storage and Memory<p ng-repeat="phone in phone"><p ng-repeat="x in phone">{{x.flash}}</p><p ng-repeat="x in phone">{{x.ram}}</p></p></uib-tab>
    <uib-tab index="3" heading="Connectivity">Connectivity<p ng-repeat="phone in phone"><p ng-repeat="x in phone">{{x.bluetooth}}</p><p ng-repeat="x in phone">{{x.cell}}</p><p ng-repeat="x in phone">{{x.gps}}</p><p ng-repeat="x in phone">{{x.infrared}}</p><p ng-repeat="x in phone">{{x.wifi}}</p><p ng-repeat="x in phone">{{x.ram}}</p></p></uib-tab>
    <uib-tab index="4" heading="Android">Android<p ng-repeat="phone in phone"><p ng-repeat="x in phone">{{x.os}}</p><p ng-repeat="x in phone">{{x.ui}}</p></p></uib-tab>
    <uib-tab index="5" heading="Size and weight">Size and weight<p ng-repeat="phone in phone"><p ng-repeat="x in phone">{{x.dimensions}}</p></p></uib-tab>
    <uib-tab index="6" heading="Display">Display<p ng-repeat="phone in phone"><p ng-repeat="x in phone">{{x.screenResolution}}</p><p ng-repeat="x in phone">{{x.screenSize}}</p><p ng-repeat="x in phone">{{x.touchScreen}}</p></p></uib-tab>
    <uib-tab index="7" heading="Hardware">Hardware<p ng-repeat="phone in phone"><p ng-repeat="x in phone">{{x.audioJack}}</p><p ng-repeat="x in phone">{{x.cpu}}</p></p></uib-tab>
    <uib-tab index="8" heading="Additional Features">Additional Features<p ng-repeat="phone in phone"><p ng-repeat="x in phone"></p>{{x.additionalFeatures}}</p></uib-tab>
  </uib-tabset>
</div><br>
<div class="row">
  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
    <img ng-src= "json/{{imageSrcUrl}}" class="img-responsive detail"><br>
    <p class="rate">
      Rate this phone
      <uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
    </p>
  </div>
  <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
</div>
  <div class="col-lg-7">
    <div ng-repeat="y in phone.images">
      <div class="col-lg-3">
        <img ng-src= "json/{{y}}" class="img-responsive" ng-click="setImage(y)"><br>
      </div>
    </div>
    <div class="col-lg-12">
      <button type="button" class="btn btn-default btn-lg" ng-click="open('md')">Buy now</button>
    </div>
    <div class="col-lg-12" ng-repeat"phone in phone">
      <h3>{{phone.id}}</h3>
      {{phone.description}}
    </div>
  </div>
</div>
